/*https://codepen.io/paulvddool/pen/mROEGa*/

.box {
  height: 500px;
  width: 500px;
  border: 2px solid red;
  position: relative;
}
.tooltip {
  opacity: 0;
  position: absolute;
  background-color: black;
  color: white;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease-in-out;
  padding: 5px;
  border-radius: 10px;
  min-width: 300px;
}
.box:hover .tooltip {
  opacity: 1;
}